fastapi
uvicorn
pydantic
python-dotenv

langchain
langchain-core
langchain-groq
langgraph
langgraph-checkpoint-postgres
langsmith
psycopg[binary,pool]

groq

sqlalchemy
psycopg2-binary
pymysql

pandas
plotly
numpy
faiss-cpu

tenacity
loguru
cryptography
