fastapi
uvicorn
pydantic
python-dotenv
redis

langchain
langchain-core
langchain-groq
langgraph
langsmith

groq

sqlalchemy
psycopg2-binary
pymysql

pandas
plotly
numpy
faiss-cpu

tenacity
loguru
cryptography
